.searchbar {
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.sidebar-header-row {
    padding-top: 2rem;
}

.recipe-header-text {
    display: flex; 
}

.create-new-button {
    padding-top: 5px;
    padding-bottom: 5px;
}